# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Дистрибутивы и сборки
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Тесты и покрытие кода
.coverage
htmlcov/
.pytest_cache/

# Системные файлы
.DS_Store
Thumbs.db 
.python-version
